body{
  padding: 0px !important;
  margin: 0px !important;
  background-color: #111 !important;
}
h2{
  color:white !important
}
li{
  list-style: none;
  font-family: Cabinet Grotesk, sans-serif !important;
}
a{
  color:inherit !important;
  text-decoration: inherit !important;
  font-family: Cabinet Grotesk, sans-serif !important;
}
address{
  font-style: italic !important;
}
.box{
  border-radius: 14px;
  padding: 20px;
}
.header1{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  font-family: Cabinet Grotesk, sans-serif;
  margin: 0;
  color:white
}
.header2{
  color: rgba(155,155,155,1);
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: Cabinet Grotesk, sans-serif;
}
.p{
  font-size: 1rem;
  margin: 0;
  font-family: Cabinet Grotesk, sans-serif;
}
.aboutme{
  font-size: .875rem;
  line-height: 1.25rem;
  font-family: Satoshi;
  font-weight: 300;
}

/*  */
.scroll-container {
  height: 500px; /* Sadece bir ikonun görünmesini sağlayacak yükseklik */
  overflow-y: hidden; /* Taşan içeriği gizle */
  transition: height 0.3s ease-in-out;
}

.scroll-container:hover {
  overflow-y: scroll; /* Üzerine gelindiğinde kaydırma aktifleşsin */
}

.icon-container a {
  display: block;
  font-size: 5rem;
  color: white;
  margin-bottom: 100px;
  text-align: center;
  transition: transform 0.3s, color 0.3s;
}

.icon-container a:hover {
  transform: scale(1.5);
  color: #00aced; /* İkon rengi hover sırasında değişebilir */
}

/* Scroll barın tasarımını gizlemek veya stilize etmek isterseniz: */
.scroll-container::-webkit-scrollbar {
  width: 0px; /* Scroll bar genişliği */
}
/*  */