body{
  display: flex !important;
  background-color: #121212 !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0px !important;
  padding: 0px !important;
}
li{
  list-style: none;
  font-family: Cabinet Grotesk, sans-serif !important;
  color:white
}
a{
  color:inherit !important;
  text-decoration: inherit !important;
  font-family: Cabinet Grotesk, sans-serif !important;
}
address{
  font-style: italic !important;
}
.mainBox{
  height: 100vh;
  justify-content: center !important;
  align-items: center !important;
}
.green-light {
  width: 12px; /* Işık boyutu */
  height: 12px; /* Işık boyutu */
  border-radius: 50%; /* Yuvarlak yapmak için */
  background-color: rgb(121, 245, 121); /* Yeşil rengi */
  animation: pulse 1.5s infinite; /* Dalga animasyonu */
}

/* Dalga animasyonu */
@keyframes pulse {
  0% {
    transform: scale(1.5); /* Başlangıç boyutu */
    opacity: 1; /* Tam görünür */
  }
  50% {
    transform: scale(1.5); /* Dalga boyutu */
    opacity: 1; /* Yarı görünür */
  }
  100% {
    transform: scale(1.5); /* En büyük boyutu */
    opacity: 1; /* Görünmez */
  }
}

.green-light::before {
  content: ''; /* İçerik ekleme */
  position: absolute; /* Pozisyon */
  width: 100%; /* Dalgaların genişliği */
  height: 100%; /* Dalgaların yüksekliği */
  border-radius: 50%; /* Yuvarlak yapmak için */
  background: rgb(110, 247, 110); /* Yarı saydam yeşil rengi */
  animation: wave 1.5s infinite; /* Dalga animasyonu */
  opacity: 0; /* Başlangıçta görünmez */
}

/* İkinci dalga */
.green-light::after {
  content: ''; /* İçerik ekleme */
  position: absolute; /* Pozisyon */
  width: 100%; /* Dalgaların genişliği */
  height: 100%; /* Dalgaların yüksekliği */
  border-radius: 50%; /* Yuvarlak yapmak için */
  background: rgb(116, 247, 116); /* Yarı saydam yeşil rengi */
  animation: wave 1.5s infinite; /* Dalga animasyonu */
  animation-delay: 0.75s; /* Yarım saniye gecikmeli başlasın */
}

@keyframes wave {
  0% {
    transform: scale(1); /* Başlangıç boyutu */
    opacity: 0.7; /* Yarı görünür */
  }
  100% {
    transform: scale(2); /* Dalga boyutu */
    opacity: 0; /* Görünmez */
  }
}

.arrowIcon{
  font-size: 24px !important;
  color:white !important;
  transform: rotate(-45deg);
  cursor: pointer !important;
  transition: .3s ease-in;
}
.arrowIcon:hover{
  transform: rotate(-45deg) translate(10px,0px) scale(1.1);
}
.time{
  color:white !important;
  font-size: 5rem !important;
  font-family: Zodiak;
  text-align: center;
}
.box {
  border-radius: 14px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Daha ince görünüm için yarı saydamlık */
}
.header1{
  font-size: 1.25rem; /* Responsive yazı boyutu için uygun bir değer */
  font-weight: 700;
  line-height: 1.2;
  font-family: Cabinet Grotesk, sans-serif;
  margin: 0;
  color:white
}
.header2{
  color: rgba(155,155,155,1);
  margin: 0;
  font-size: 1rem;
  font-weight: inherit;
  font-family: Cabinet Grotesk, sans-serif;
}
.p{
  font-size: 1rem;
  margin: 0;
  font-family: Cabinet Grotesk, sans-serif;
  color:white
}
.aboutme{
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 300;
  color:white;
}
.icon-container{
  display: flex;
  justify-content: space-between;
}
.icon-container a {
  font-size: 2.5rem;
}
.icon1{
  color:red !important
}
.icon2{
  color:rgb(136, 20, 126) !important
}
.icon3{
  color:rgb(39, 92, 161) !important
}
.icon4{
  color:rgb(128, 124, 127) !important
}

@media (max-width: 980px) , (max-height: 600px) {
  .mainBox{
    align-items: baseline !important;
  }
  .header1{
    font-size: 1.15rem !important;
  }
  .header2{
    font-size: 0.9rem !important;
  }
  .p{
    font-size: 0.85rem !important;
  }
  .time{
    font-size: 3rem !important;
  }
}

/* Büyük ekranlar için align-items: center */
@media (min-width: 980px) {
  .icon-container a{
    font-size: 3.5;
  }
}